.is-invalid {
  border-color: red;
}

.text-danger {
  color: red;
  max-width: 200px;
  margin-top: 0.25rem;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}


.form-group  label{
 margin-bottom: 0.5rem;
 font-weight: bold;
}

.form-group  input{
  max-width: 200px;
}


